@media (prefers-contrast: more) {
  :root {
    --fg-brand: #5b21b6;
    --fg-brand-hover: #4c1d95;
    --fg-brand-active: #2e1065;
    --fg-brand-alt: #7c2d12;
    --fg-brand-alt-hover: #431407;
    --fg-brand-alt-active: #431407;
    --fg-danger: #991b1b;
    --fg-danger-hover: #7f1d1d;
    --fg-danger-active: #450a0a;
    --fg-success: #065f46;
    --fg-success-hover: #064e3b;
    --fg-success-active: #022c22;
    --fg-info: #1e40af;
    --fg-info-hover: #1e3a8a;
    --fg-info-active: #172554;
    --fg-info-alt: #115e59;
    --fg-info-alt-hover: #134e4a;
    --fg-info-alt-active: #042f2e;
    --fg-warning: #78350f;
    --fg-warning-hover: #451a03;
    --fg-warning-active: #451a03;
    --fg-decorative: #57534e;
    --fg-nav-accent: #5b21b6;
    --fg-nav-decorative: #57534e;
    --border-brand: #7c3aed;
    --border-brand-hover: #6d28d9;
    --border-brand-active: #5b21b6;
    --border-danger: #dc2626;
    --border-success: #047857;
    --border-warning: #b45309;
    --border-info: #0369a1;
    --focus-brand: #7c3aed;
    --focus-danger: #dc2626;
  }
  [data-stack="nav"] {
    --fg-brand: #5b21b6;
    --fg-brand-hover: #4c1d95;
    --fg-brand-active: #2e1065;
    --fg-brand-alt: #7c2d12;
    --fg-brand-alt-hover: #431407;
    --fg-brand-alt-active: #431407;
    --fg-danger: #991b1b;
    --fg-danger-hover: #7f1d1d;
    --fg-danger-active: #450a0a;
    --fg-success: #065f46;
    --fg-success-hover: #064e3b;
    --fg-success-active: #022c22;
    --fg-info: #1e40af;
    --fg-info-hover: #1e3a8a;
    --fg-info-active: #172554;
    --fg-info-alt: #134e4a;
    --fg-info-alt-hover: #042f2e;
    --fg-info-alt-active: #042f2e;
    --fg-warning: #78350f;
    --fg-warning-hover: #451a03;
    --fg-warning-active: #451a03;
    --fg-disabled: #44403c;
    --fg-decorative: #44403c;
    --fg-alt: #44403c;
    --fg-alt-hover: #292524;
    --fg-alt-active: #0c0a09;
    --fg-nav-accent: #5b21b6;
    --fg-nav-decorative: #44403c;
    --border-main: #57534e;
    --border-main-hover: #44403c;
    --border-main-active: #292524;
    --border-brand: #7c3aed;
    --border-brand-hover: #6d28d9;
    --border-brand-active: #5b21b6;
    --border-danger: #b91c1c;
    --border-success: #047857;
    --border-info: #0369a1;
    --border-disabled: #57534e;
    --focus-brand: #7c3aed;
    --focus-danger: #b91c1c;
    --focus-neutral: #57534e;
    --focus-inverse: #475569;
  }
  [data-stack="modal"] {
    --fg-brand: #5b21b6;
    --fg-brand-hover: #4c1d95;
    --fg-brand-active: #2e1065;
    --fg-brand-alt: #7c2d12;
    --fg-brand-alt-hover: #431407;
    --fg-brand-alt-active: #431407;
    --fg-danger: #991b1b;
    --fg-danger-hover: #7f1d1d;
    --fg-danger-active: #450a0a;
    --fg-success: #065f46;
    --fg-success-hover: #064e3b;
    --fg-success-active: #022c22;
    --fg-info: #1e40af;
    --fg-info-hover: #1e3a8a;
    --fg-info-active: #172554;
    --fg-info-alt: #134e4a;
    --fg-info-alt-hover: #042f2e;
    --fg-info-alt-active: #042f2e;
    --fg-warning: #78350f;
    --fg-warning-hover: #451a03;
    --fg-warning-active: #451a03;
    --fg-disabled: #44403c;
    --fg-decorative: #44403c;
    --fg-alt: #44403c;
    --fg-alt-hover: #292524;
    --fg-alt-active: #0c0a09;
    --fg-nav-accent: #5b21b6;
    --fg-nav-decorative: #44403c;
    --border-main: #57534e;
    --border-main-hover: #44403c;
    --border-main-active: #292524;
    --border-brand: #7c3aed;
    --border-brand-hover: #6d28d9;
    --border-brand-active: #5b21b6;
    --border-danger: #b91c1c;
    --border-success: #047857;
    --border-info: #0369a1;
    --border-disabled: #57534e;
    --focus-brand: #7c3aed;
    --focus-danger: #b91c1c;
    --focus-neutral: #57534e;
    --focus-inverse: #475569;
  }
  [data-stack="tooltip"] {
    --fg-brand: #5b21b6;
    --fg-brand-hover: #4c1d95;
    --fg-brand-active: #2e1065;
    --fg-brand-alt: #7c2d12;
    --fg-brand-alt-hover: #431407;
    --fg-brand-alt-active: #431407;
    --fg-danger: #991b1b;
    --fg-danger-hover: #7f1d1d;
    --fg-danger-active: #450a0a;
    --fg-success: #065f46;
    --fg-success-hover: #064e3b;
    --fg-success-active: #022c22;
    --fg-info: #1e40af;
    --fg-info-hover: #1e3a8a;
    --fg-info-active: #172554;
    --fg-info-alt: #134e4a;
    --fg-info-alt-hover: #042f2e;
    --fg-info-alt-active: #042f2e;
    --fg-warning: #78350f;
    --fg-warning-hover: #451a03;
    --fg-warning-active: #451a03;
    --fg-disabled: #44403c;
    --fg-decorative: #44403c;
    --fg-alt: #44403c;
    --fg-alt-hover: #292524;
    --fg-alt-active: #0c0a09;
    --fg-nav-accent: #5b21b6;
    --fg-nav-decorative: #44403c;
    --border-main: #57534e;
    --border-main-hover: #44403c;
    --border-main-active: #292524;
    --border-brand: #7c3aed;
    --border-brand-hover: #6d28d9;
    --border-brand-active: #5b21b6;
    --border-danger: #b91c1c;
    --border-success: #047857;
    --border-info: #0369a1;
    --border-disabled: #57534e;
    --focus-brand: #7c3aed;
    --focus-danger: #b91c1c;
    --focus-neutral: #57534e;
    --focus-inverse: #475569;
  }
  [data-stack="overlay"] {
    --fg-brand: #5b21b6;
    --fg-brand-hover: #4c1d95;
    --fg-brand-active: #2e1065;
    --fg-brand-alt: #7c2d12;
    --fg-brand-alt-hover: #431407;
    --fg-danger: #7f1d1d;
    --fg-danger-hover: #450a0a;
    --fg-danger-active: #450a0a;
    --fg-success: #064e3b;
    --fg-success-hover: #022c22;
    --fg-info: #1e3a8a;
    --fg-info-hover: #172554;
    --fg-info-active: #172554;
    --fg-info-alt: #134e4a;
    --fg-info-alt-hover: #042f2e;
    --fg-warning: #78350f;
    --fg-warning-hover: #451a03;
    --fg-disabled: #44403c;
    --fg-decorative: #44403c;
    --fg-alt: #44403c;
    --fg-alt-hover: #292524;
    --fg-alt-active: #0c0a09;
    --fg-nav-accent: #5b21b6;
    --fg-nav-decorative: #44403c;
    --border-main: #57534e;
    --border-main-hover: #44403c;
    --border-main-active: #292524;
    --border-brand: #7c3aed;
    --border-brand-hover: #6d28d9;
    --border-brand-active: #5b21b6;
    --border-danger: #b91c1c;
    --border-success: #065f46;
    --border-warning: #92400e;
    --border-info: #0369a1;
    --border-disabled: #57534e;
    --focus-brand: #7c3aed;
    --focus-danger: #b91c1c;
    --focus-neutral: #57534e;
    --focus-inverse: #475569;
  }
  [data-theme="ambient"] {
    --fg-brand: #5b21b6;
    --fg-brand-hover: #4c1d95;
    --fg-brand-active: #2e1065;
    --fg-brand-alt: #7c2d12;
    --fg-brand-alt-hover: #431407;
    --fg-brand-alt-active: #431407;
    --fg-danger: #991b1b;
    --fg-danger-hover: #7f1d1d;
    --fg-danger-active: #450a0a;
    --fg-success: #065f46;
    --fg-success-hover: #064e3b;
    --fg-success-active: #022c22;
    --fg-info: #1e40af;
    --fg-info-hover: #1e3a8a;
    --fg-info-active: #172554;
    --fg-info-alt: #115e59;
    --fg-info-alt-hover: #134e4a;
    --fg-info-alt-active: #042f2e;
    --fg-warning: #78350f;
    --fg-warning-hover: #451a03;
    --fg-warning-active: #451a03;
    --fg-decorative: #57534e;
    --fg-nav-accent: #5b21b6;
    --fg-nav-decorative: #57534e;
    --border-brand: #7c3aed;
    --border-brand-hover: #6d28d9;
    --border-brand-active: #5b21b6;
    --border-danger: #dc2626;
    --border-success: #047857;
    --border-warning: #b45309;
    --border-info: #0369a1;
    --focus-brand: #7c3aed;
    --focus-danger: #dc2626;
  }
  [data-theme="ambient"] [data-stack="nav"] {
    --fg-brand: #5b21b6;
    --fg-brand-hover: #4c1d95;
    --fg-brand-active: #2e1065;
    --fg-brand-alt: #7c2d12;
    --fg-brand-alt-hover: #431407;
    --fg-brand-alt-active: #431407;
    --fg-danger: #991b1b;
    --fg-danger-hover: #7f1d1d;
    --fg-danger-active: #450a0a;
    --fg-success: #065f46;
    --fg-success-hover: #064e3b;
    --fg-success-active: #022c22;
    --fg-info: #1e40af;
    --fg-info-hover: #1e3a8a;
    --fg-info-active: #172554;
    --fg-info-alt: #134e4a;
    --fg-info-alt-hover: #042f2e;
    --fg-info-alt-active: #042f2e;
    --fg-warning: #78350f;
    --fg-warning-hover: #451a03;
    --fg-warning-active: #451a03;
    --fg-disabled: #44403c;
    --fg-decorative: #44403c;
    --fg-alt: #44403c;
    --fg-alt-hover: #292524;
    --fg-alt-active: #0c0a09;
    --fg-nav-accent: #5b21b6;
    --fg-nav-decorative: #44403c;
    --border-main: #57534e;
    --border-main-hover: #44403c;
    --border-main-active: #292524;
    --border-brand: #7c3aed;
    --border-brand-hover: #6d28d9;
    --border-brand-active: #5b21b6;
    --border-danger: #b91c1c;
    --border-success: #047857;
    --border-info: #0369a1;
    --border-disabled: #57534e;
    --focus-brand: #7c3aed;
    --focus-danger: #b91c1c;
    --focus-neutral: #57534e;
    --focus-inverse: #475569;
  }
  [data-theme="ambient"] [data-stack="modal"] {
    --fg-brand: #5b21b6;
    --fg-brand-hover: #4c1d95;
    --fg-brand-active: #2e1065;
    --fg-brand-alt: #7c2d12;
    --fg-brand-alt-hover: #431407;
    --fg-brand-alt-active: #431407;
    --fg-danger: #991b1b;
    --fg-danger-hover: #7f1d1d;
    --fg-danger-active: #450a0a;
    --fg-success: #065f46;
    --fg-success-hover: #064e3b;
    --fg-success-active: #022c22;
    --fg-info: #1e40af;
    --fg-info-hover: #1e3a8a;
    --fg-info-active: #172554;
    --fg-info-alt: #134e4a;
    --fg-info-alt-hover: #042f2e;
    --fg-info-alt-active: #042f2e;
    --fg-warning: #78350f;
    --fg-warning-hover: #451a03;
    --fg-warning-active: #451a03;
    --fg-disabled: #44403c;
    --fg-decorative: #44403c;
    --fg-alt: #44403c;
    --fg-alt-hover: #292524;
    --fg-alt-active: #0c0a09;
    --fg-nav-accent: #5b21b6;
    --fg-nav-decorative: #44403c;
    --border-main: #57534e;
    --border-main-hover: #44403c;
    --border-main-active: #292524;
    --border-brand: #7c3aed;
    --border-brand-hover: #6d28d9;
    --border-brand-active: #5b21b6;
    --border-danger: #b91c1c;
    --border-success: #047857;
    --border-info: #0369a1;
    --border-disabled: #57534e;
    --focus-brand: #7c3aed;
    --focus-danger: #b91c1c;
    --focus-neutral: #57534e;
    --focus-inverse: #475569;
  }
  [data-theme="ambient"] [data-stack="tooltip"] {
    --fg-brand: #5b21b6;
    --fg-brand-hover: #4c1d95;
    --fg-brand-active: #2e1065;
    --fg-brand-alt: #7c2d12;
    --fg-brand-alt-hover: #431407;
    --fg-brand-alt-active: #431407;
    --fg-danger: #991b1b;
    --fg-danger-hover: #7f1d1d;
    --fg-danger-active: #450a0a;
    --fg-success: #065f46;
    --fg-success-hover: #064e3b;
    --fg-success-active: #022c22;
    --fg-info: #1e40af;
    --fg-info-hover: #1e3a8a;
    --fg-info-active: #172554;
    --fg-info-alt: #134e4a;
    --fg-info-alt-hover: #042f2e;
    --fg-info-alt-active: #042f2e;
    --fg-warning: #78350f;
    --fg-warning-hover: #451a03;
    --fg-warning-active: #451a03;
    --fg-disabled: #44403c;
    --fg-decorative: #44403c;
    --fg-alt: #44403c;
    --fg-alt-hover: #292524;
    --fg-alt-active: #0c0a09;
    --fg-nav-accent: #5b21b6;
    --fg-nav-decorative: #44403c;
    --border-main: #57534e;
    --border-main-hover: #44403c;
    --border-main-active: #292524;
    --border-brand: #7c3aed;
    --border-brand-hover: #6d28d9;
    --border-brand-active: #5b21b6;
    --border-danger: #b91c1c;
    --border-success: #047857;
    --border-info: #0369a1;
    --border-disabled: #57534e;
    --focus-brand: #7c3aed;
    --focus-danger: #b91c1c;
    --focus-neutral: #57534e;
    --focus-inverse: #475569;
  }
  [data-theme="ambient"] [data-stack="overlay"] {
    --fg-brand: #5b21b6;
    --fg-brand-hover: #4c1d95;
    --fg-brand-active: #2e1065;
    --fg-brand-alt: #7c2d12;
    --fg-brand-alt-hover: #431407;
    --fg-danger: #7f1d1d;
    --fg-danger-hover: #450a0a;
    --fg-danger-active: #450a0a;
    --fg-success: #064e3b;
    --fg-success-hover: #022c22;
    --fg-info: #1e3a8a;
    --fg-info-hover: #172554;
    --fg-info-active: #172554;
    --fg-info-alt: #134e4a;
    --fg-info-alt-hover: #042f2e;
    --fg-warning: #78350f;
    --fg-warning-hover: #451a03;
    --fg-disabled: #44403c;
    --fg-decorative: #44403c;
    --fg-alt: #44403c;
    --fg-alt-hover: #292524;
    --fg-alt-active: #0c0a09;
    --fg-nav-accent: #5b21b6;
    --fg-nav-decorative: #44403c;
    --border-main: #57534e;
    --border-main-hover: #44403c;
    --border-main-active: #292524;
    --border-brand: #7c3aed;
    --border-brand-hover: #6d28d9;
    --border-brand-active: #5b21b6;
    --border-danger: #b91c1c;
    --border-success: #065f46;
    --border-warning: #92400e;
    --border-info: #0369a1;
    --border-disabled: #57534e;
    --focus-brand: #7c3aed;
    --focus-danger: #b91c1c;
    --focus-neutral: #57534e;
    --focus-inverse: #475569;
  }
  [data-theme="dark"] {
    --fg-brand: #c4b5fd;
    --fg-brand-hover: #ddd6fe;
    --fg-brand-active: #ede9fe;
    --fg-brand-alt: #fb923c;
    --fg-brand-alt-hover: #fdba74;
    --fg-brand-alt-active: #fed7aa;
    --fg-danger: #fca5a5;
    --fg-danger-hover: #fecaca;
    --fg-danger-active: #fee2e2;
    --fg-success: #34d399;
    --fg-success-hover: #6ee7b7;
    --fg-success-active: #a7f3d0;
    --fg-info: #93c5fd;
    --fg-info-hover: #bfdbfe;
    --fg-info-active: #dbeafe;
    --fg-info-alt: #2dd4bf;
    --fg-info-alt-hover: #5eead4;
    --fg-info-alt-active: #99f6e4;
    --fg-warning: #fbbf24;
    --fg-warning-hover: #fcd34d;
    --fg-warning-active: #fde68a;
    --fg-disabled: #d6d3d1;
    --fg-decorative: #d6d3d1;
    --fg-alt: #d6d3d1;
    --fg-alt-hover: #e7e5e4;
    --fg-alt-active: #fafaf9;
    --fg-nav-accent: #c4b5fd;
    --fg-nav-decorative: #d6d3d1;
    --border-main: #a8a29e;
    --border-main-hover: #d6d3d1;
    --border-main-active: #e7e5e4;
    --border-brand: #a78bfa;
    --border-brand-hover: #c4b5fd;
    --border-brand-active: #ddd6fe;
    --border-danger: #ef4444;
    --border-success: #059669;
    --border-warning: #d97706;
    --border-info: #0ea5e9;
    --border-disabled: #a8a29e;
    --focus-brand: #a78bfa;
    --focus-danger: #ef4444;
    --focus-neutral: #a8a29e;
    --focus-inverse: #94a3b8;
  }
  [data-theme="dark"] [data-stack="nav"] {
    --fg-brand: #c4b5fd;
    --fg-brand-hover: #ddd6fe;
    --fg-brand-active: #ede9fe;
    --fg-brand-alt: #fdba74;
    --fg-brand-alt-hover: #fed7aa;
    --fg-brand-alt-active: #ffedd5;
    --fg-danger: #fca5a5;
    --fg-danger-hover: #fecaca;
    --fg-danger-active: #fee2e2;
    --fg-info: #93c5fd;
    --fg-info-hover: #bfdbfe;
    --fg-info-active: #dbeafe;
    --fg-warning: #fbbf24;
    --fg-warning-hover: #fcd34d;
    --fg-warning-active: #fde68a;
    --fg-disabled: #d6d3d1;
    --fg-decorative: #d6d3d1;
    --fg-alt: #d6d3d1;
    --fg-alt-hover: #e7e5e4;
    --fg-alt-active: #fafaf9;
    --fg-nav-accent: #c4b5fd;
    --fg-nav-decorative: #d6d3d1;
    --border-main: #a8a29e;
    --border-main-hover: #d6d3d1;
    --border-main-active: #e7e5e4;
    --border-brand: #a78bfa;
    --border-brand-hover: #c4b5fd;
    --border-brand-active: #ddd6fe;
    --border-danger: #f87171;
    --border-success: #10b981;
    --border-warning: #d97706;
    --border-info: #0ea5e9;
    --border-disabled: #a8a29e;
    --focus-brand: #a78bfa;
    --focus-danger: #f87171;
    --focus-neutral: #a8a29e;
    --focus-inverse: #94a3b8;
  }
  [data-theme="dark"] [data-stack="modal"] {
    --fg-brand: #c4b5fd;
    --fg-brand-hover: #ddd6fe;
    --fg-brand-active: #ede9fe;
    --fg-brand-alt: #fdba74;
    --fg-brand-alt-hover: #fed7aa;
    --fg-brand-alt-active: #ffedd5;
    --fg-danger: #fca5a5;
    --fg-danger-hover: #fecaca;
    --fg-danger-active: #fee2e2;
    --fg-info: #93c5fd;
    --fg-info-hover: #bfdbfe;
    --fg-info-active: #dbeafe;
    --fg-warning: #fbbf24;
    --fg-warning-hover: #fcd34d;
    --fg-warning-active: #fde68a;
    --fg-disabled: #d6d3d1;
    --fg-decorative: #d6d3d1;
    --fg-alt: #d6d3d1;
    --fg-alt-hover: #e7e5e4;
    --fg-alt-active: #fafaf9;
    --fg-nav-accent: #c4b5fd;
    --fg-nav-decorative: #d6d3d1;
    --border-main: #a8a29e;
    --border-main-hover: #d6d3d1;
    --border-main-active: #e7e5e4;
    --border-brand: #a78bfa;
    --border-brand-hover: #c4b5fd;
    --border-brand-active: #ddd6fe;
    --border-danger: #f87171;
    --border-success: #10b981;
    --border-warning: #d97706;
    --border-info: #0ea5e9;
    --border-disabled: #a8a29e;
    --focus-brand: #a78bfa;
    --focus-danger: #f87171;
    --focus-neutral: #a8a29e;
    --focus-inverse: #94a3b8;
  }
  [data-theme="dark"] [data-stack="tooltip"] {
    --fg-brand: #c4b5fd;
    --fg-brand-hover: #ddd6fe;
    --fg-brand-active: #ede9fe;
    --fg-brand-alt: #fdba74;
    --fg-brand-alt-hover: #fed7aa;
    --fg-brand-alt-active: #ffedd5;
    --fg-danger: #fca5a5;
    --fg-danger-hover: #fecaca;
    --fg-danger-active: #fee2e2;
    --fg-info: #93c5fd;
    --fg-info-hover: #bfdbfe;
    --fg-info-active: #dbeafe;
    --fg-warning: #fbbf24;
    --fg-warning-hover: #fcd34d;
    --fg-warning-active: #fde68a;
    --fg-disabled: #d6d3d1;
    --fg-decorative: #d6d3d1;
    --fg-alt: #d6d3d1;
    --fg-alt-hover: #e7e5e4;
    --fg-alt-active: #fafaf9;
    --fg-nav-accent: #c4b5fd;
    --fg-nav-decorative: #d6d3d1;
    --border-main: #a8a29e;
    --border-main-hover: #d6d3d1;
    --border-main-active: #e7e5e4;
    --border-brand: #a78bfa;
    --border-brand-hover: #c4b5fd;
    --border-brand-active: #ddd6fe;
    --border-danger: #f87171;
    --border-success: #10b981;
    --border-warning: #d97706;
    --border-info: #0ea5e9;
    --border-disabled: #a8a29e;
    --focus-brand: #a78bfa;
    --focus-danger: #f87171;
    --focus-neutral: #a8a29e;
    --focus-inverse: #94a3b8;
  }
  [data-theme="dark"] [data-stack="overlay"] {
    --fg-brand: #ddd6fe;
    --fg-brand-hover: #ede9fe;
    --fg-brand-active: #f5f3ff;
    --fg-brand-alt: #fed7aa;
    --fg-brand-alt-hover: #ffedd5;
    --fg-brand-alt-active: #fff7ed;
    --fg-danger: #fecaca;
    --fg-danger-hover: #fee2e2;
    --fg-danger-active: #fef2f2;
    --fg-success: #a7f3d0;
    --fg-success-hover: #d1fae5;
    --fg-success-active: #ecfdf5;
    --fg-info: #bfdbfe;
    --fg-info-hover: #dbeafe;
    --fg-info-active: #eff6ff;
    --fg-info-alt: #99f6e4;
    --fg-info-alt-hover: #ccfbf1;
    --fg-info-alt-active: #f0fdfa;
    --fg-warning: #fcd34d;
    --fg-warning-hover: #fde68a;
    --fg-warning-active: #fef3c7;
    --fg-disabled: #e7e5e4;
    --fg-decorative: #e7e5e4;
    --fg-alt: #e7e5e4;
    --fg-alt-hover: #f5f5f4;
    --fg-nav-accent: #ddd6fe;
    --fg-nav-main: #e7e5e4;
    --fg-nav-main-hover: #fafaf9;
    --fg-nav-main-active: #fafaf9;
    --fg-nav-decorative: #e7e5e4;
    --border-main: #d6d3d1;
    --border-main-hover: #e7e5e4;
    --border-main-active: #f5f5f4;
    --border-brand: #c4b5fd;
    --border-brand-hover: #ddd6fe;
    --border-brand-active: #ede9fe;
    --border-danger: #fca5a5;
    --border-success: #34d399;
    --border-warning: #f59e0b;
    --border-info: #38bdf8;
    --border-disabled: #d6d3d1;
    --focus-brand: #c4b5fd;
    --focus-danger: #fca5a5;
    --focus-neutral: #d6d3d1;
    --focus-inverse: #cbd5e1;
  }
}

[data-contrast="more"] :root {
  --fg-brand: #5b21b6;
  --fg-brand-hover: #4c1d95;
  --fg-brand-active: #2e1065;
  --fg-brand-alt: #7c2d12;
  --fg-brand-alt-hover: #431407;
  --fg-brand-alt-active: #431407;
  --fg-danger: #991b1b;
  --fg-danger-hover: #7f1d1d;
  --fg-danger-active: #450a0a;
  --fg-success: #065f46;
  --fg-success-hover: #064e3b;
  --fg-success-active: #022c22;
  --fg-info: #1e40af;
  --fg-info-hover: #1e3a8a;
  --fg-info-active: #172554;
  --fg-info-alt: #115e59;
  --fg-info-alt-hover: #134e4a;
  --fg-info-alt-active: #042f2e;
  --fg-warning: #78350f;
  --fg-warning-hover: #451a03;
  --fg-warning-active: #451a03;
  --fg-decorative: #57534e;
  --fg-nav-accent: #5b21b6;
  --fg-nav-decorative: #57534e;
  --border-brand: #7c3aed;
  --border-brand-hover: #6d28d9;
  --border-brand-active: #5b21b6;
  --border-danger: #dc2626;
  --border-success: #047857;
  --border-warning: #b45309;
  --border-info: #0369a1;
  --focus-brand: #7c3aed;
  --focus-danger: #dc2626;
}
[data-contrast="more"] [data-stack="nav"] {
  --fg-brand: #5b21b6;
  --fg-brand-hover: #4c1d95;
  --fg-brand-active: #2e1065;
  --fg-brand-alt: #7c2d12;
  --fg-brand-alt-hover: #431407;
  --fg-brand-alt-active: #431407;
  --fg-danger: #991b1b;
  --fg-danger-hover: #7f1d1d;
  --fg-danger-active: #450a0a;
  --fg-success: #065f46;
  --fg-success-hover: #064e3b;
  --fg-success-active: #022c22;
  --fg-info: #1e40af;
  --fg-info-hover: #1e3a8a;
  --fg-info-active: #172554;
  --fg-info-alt: #134e4a;
  --fg-info-alt-hover: #042f2e;
  --fg-info-alt-active: #042f2e;
  --fg-warning: #78350f;
  --fg-warning-hover: #451a03;
  --fg-warning-active: #451a03;
  --fg-disabled: #44403c;
  --fg-decorative: #44403c;
  --fg-alt: #44403c;
  --fg-alt-hover: #292524;
  --fg-alt-active: #0c0a09;
  --fg-nav-accent: #5b21b6;
  --fg-nav-decorative: #44403c;
  --border-main: #57534e;
  --border-main-hover: #44403c;
  --border-main-active: #292524;
  --border-brand: #7c3aed;
  --border-brand-hover: #6d28d9;
  --border-brand-active: #5b21b6;
  --border-danger: #b91c1c;
  --border-success: #047857;
  --border-info: #0369a1;
  --border-disabled: #57534e;
  --focus-brand: #7c3aed;
  --focus-danger: #b91c1c;
  --focus-neutral: #57534e;
  --focus-inverse: #475569;
}
[data-contrast="more"] [data-stack="modal"] {
  --fg-brand: #5b21b6;
  --fg-brand-hover: #4c1d95;
  --fg-brand-active: #2e1065;
  --fg-brand-alt: #7c2d12;
  --fg-brand-alt-hover: #431407;
  --fg-brand-alt-active: #431407;
  --fg-danger: #991b1b;
  --fg-danger-hover: #7f1d1d;
  --fg-danger-active: #450a0a;
  --fg-success: #065f46;
  --fg-success-hover: #064e3b;
  --fg-success-active: #022c22;
  --fg-info: #1e40af;
  --fg-info-hover: #1e3a8a;
  --fg-info-active: #172554;
  --fg-info-alt: #134e4a;
  --fg-info-alt-hover: #042f2e;
  --fg-info-alt-active: #042f2e;
  --fg-warning: #78350f;
  --fg-warning-hover: #451a03;
  --fg-warning-active: #451a03;
  --fg-disabled: #44403c;
  --fg-decorative: #44403c;
  --fg-alt: #44403c;
  --fg-alt-hover: #292524;
  --fg-alt-active: #0c0a09;
  --fg-nav-accent: #5b21b6;
  --fg-nav-decorative: #44403c;
  --border-main: #57534e;
  --border-main-hover: #44403c;
  --border-main-active: #292524;
  --border-brand: #7c3aed;
  --border-brand-hover: #6d28d9;
  --border-brand-active: #5b21b6;
  --border-danger: #b91c1c;
  --border-success: #047857;
  --border-info: #0369a1;
  --border-disabled: #57534e;
  --focus-brand: #7c3aed;
  --focus-danger: #b91c1c;
  --focus-neutral: #57534e;
  --focus-inverse: #475569;
}
[data-contrast="more"] [data-stack="tooltip"] {
  --fg-brand: #5b21b6;
  --fg-brand-hover: #4c1d95;
  --fg-brand-active: #2e1065;
  --fg-brand-alt: #7c2d12;
  --fg-brand-alt-hover: #431407;
  --fg-brand-alt-active: #431407;
  --fg-danger: #991b1b;
  --fg-danger-hover: #7f1d1d;
  --fg-danger-active: #450a0a;
  --fg-success: #065f46;
  --fg-success-hover: #064e3b;
  --fg-success-active: #022c22;
  --fg-info: #1e40af;
  --fg-info-hover: #1e3a8a;
  --fg-info-active: #172554;
  --fg-info-alt: #134e4a;
  --fg-info-alt-hover: #042f2e;
  --fg-info-alt-active: #042f2e;
  --fg-warning: #78350f;
  --fg-warning-hover: #451a03;
  --fg-warning-active: #451a03;
  --fg-disabled: #44403c;
  --fg-decorative: #44403c;
  --fg-alt: #44403c;
  --fg-alt-hover: #292524;
  --fg-alt-active: #0c0a09;
  --fg-nav-accent: #5b21b6;
  --fg-nav-decorative: #44403c;
  --border-main: #57534e;
  --border-main-hover: #44403c;
  --border-main-active: #292524;
  --border-brand: #7c3aed;
  --border-brand-hover: #6d28d9;
  --border-brand-active: #5b21b6;
  --border-danger: #b91c1c;
  --border-success: #047857;
  --border-info: #0369a1;
  --border-disabled: #57534e;
  --focus-brand: #7c3aed;
  --focus-danger: #b91c1c;
  --focus-neutral: #57534e;
  --focus-inverse: #475569;
}
[data-contrast="more"] [data-stack="overlay"] {
  --fg-brand: #5b21b6;
  --fg-brand-hover: #4c1d95;
  --fg-brand-active: #2e1065;
  --fg-brand-alt: #7c2d12;
  --fg-brand-alt-hover: #431407;
  --fg-danger: #7f1d1d;
  --fg-danger-hover: #450a0a;
  --fg-danger-active: #450a0a;
  --fg-success: #064e3b;
  --fg-success-hover: #022c22;
  --fg-info: #1e3a8a;
  --fg-info-hover: #172554;
  --fg-info-active: #172554;
  --fg-info-alt: #134e4a;
  --fg-info-alt-hover: #042f2e;
  --fg-warning: #78350f;
  --fg-warning-hover: #451a03;
  --fg-disabled: #44403c;
  --fg-decorative: #44403c;
  --fg-alt: #44403c;
  --fg-alt-hover: #292524;
  --fg-alt-active: #0c0a09;
  --fg-nav-accent: #5b21b6;
  --fg-nav-decorative: #44403c;
  --border-main: #57534e;
  --border-main-hover: #44403c;
  --border-main-active: #292524;
  --border-brand: #7c3aed;
  --border-brand-hover: #6d28d9;
  --border-brand-active: #5b21b6;
  --border-danger: #b91c1c;
  --border-success: #065f46;
  --border-warning: #92400e;
  --border-info: #0369a1;
  --border-disabled: #57534e;
  --focus-brand: #7c3aed;
  --focus-danger: #b91c1c;
  --focus-neutral: #57534e;
  --focus-inverse: #475569;
}
[data-contrast="more"] [data-theme="ambient"] {
  --fg-brand: #5b21b6;
  --fg-brand-hover: #4c1d95;
  --fg-brand-active: #2e1065;
  --fg-brand-alt: #7c2d12;
  --fg-brand-alt-hover: #431407;
  --fg-brand-alt-active: #431407;
  --fg-danger: #991b1b;
  --fg-danger-hover: #7f1d1d;
  --fg-danger-active: #450a0a;
  --fg-success: #065f46;
  --fg-success-hover: #064e3b;
  --fg-success-active: #022c22;
  --fg-info: #1e40af;
  --fg-info-hover: #1e3a8a;
  --fg-info-active: #172554;
  --fg-info-alt: #115e59;
  --fg-info-alt-hover: #134e4a;
  --fg-info-alt-active: #042f2e;
  --fg-warning: #78350f;
  --fg-warning-hover: #451a03;
  --fg-warning-active: #451a03;
  --fg-decorative: #57534e;
  --fg-nav-accent: #5b21b6;
  --fg-nav-decorative: #57534e;
  --border-brand: #7c3aed;
  --border-brand-hover: #6d28d9;
  --border-brand-active: #5b21b6;
  --border-danger: #dc2626;
  --border-success: #047857;
  --border-warning: #b45309;
  --border-info: #0369a1;
  --focus-brand: #7c3aed;
  --focus-danger: #dc2626;
}
[data-contrast="more"] [data-theme="ambient"] [data-stack="nav"] {
  --fg-brand: #5b21b6;
  --fg-brand-hover: #4c1d95;
  --fg-brand-active: #2e1065;
  --fg-brand-alt: #7c2d12;
  --fg-brand-alt-hover: #431407;
  --fg-brand-alt-active: #431407;
  --fg-danger: #991b1b;
  --fg-danger-hover: #7f1d1d;
  --fg-danger-active: #450a0a;
  --fg-success: #065f46;
  --fg-success-hover: #064e3b;
  --fg-success-active: #022c22;
  --fg-info: #1e40af;
  --fg-info-hover: #1e3a8a;
  --fg-info-active: #172554;
  --fg-info-alt: #134e4a;
  --fg-info-alt-hover: #042f2e;
  --fg-info-alt-active: #042f2e;
  --fg-warning: #78350f;
  --fg-warning-hover: #451a03;
  --fg-warning-active: #451a03;
  --fg-disabled: #44403c;
  --fg-decorative: #44403c;
  --fg-alt: #44403c;
  --fg-alt-hover: #292524;
  --fg-alt-active: #0c0a09;
  --fg-nav-accent: #5b21b6;
  --fg-nav-decorative: #44403c;
  --border-main: #57534e;
  --border-main-hover: #44403c;
  --border-main-active: #292524;
  --border-brand: #7c3aed;
  --border-brand-hover: #6d28d9;
  --border-brand-active: #5b21b6;
  --border-danger: #b91c1c;
  --border-success: #047857;
  --border-info: #0369a1;
  --border-disabled: #57534e;
  --focus-brand: #7c3aed;
  --focus-danger: #b91c1c;
  --focus-neutral: #57534e;
  --focus-inverse: #475569;
}
[data-contrast="more"] [data-theme="ambient"] [data-stack="modal"] {
  --fg-brand: #5b21b6;
  --fg-brand-hover: #4c1d95;
  --fg-brand-active: #2e1065;
  --fg-brand-alt: #7c2d12;
  --fg-brand-alt-hover: #431407;
  --fg-brand-alt-active: #431407;
  --fg-danger: #991b1b;
  --fg-danger-hover: #7f1d1d;
  --fg-danger-active: #450a0a;
  --fg-success: #065f46;
  --fg-success-hover: #064e3b;
  --fg-success-active: #022c22;
  --fg-info: #1e40af;
  --fg-info-hover: #1e3a8a;
  --fg-info-active: #172554;
  --fg-info-alt: #134e4a;
  --fg-info-alt-hover: #042f2e;
  --fg-info-alt-active: #042f2e;
  --fg-warning: #78350f;
  --fg-warning-hover: #451a03;
  --fg-warning-active: #451a03;
  --fg-disabled: #44403c;
  --fg-decorative: #44403c;
  --fg-alt: #44403c;
  --fg-alt-hover: #292524;
  --fg-alt-active: #0c0a09;
  --fg-nav-accent: #5b21b6;
  --fg-nav-decorative: #44403c;
  --border-main: #57534e;
  --border-main-hover: #44403c;
  --border-main-active: #292524;
  --border-brand: #7c3aed;
  --border-brand-hover: #6d28d9;
  --border-brand-active: #5b21b6;
  --border-danger: #b91c1c;
  --border-success: #047857;
  --border-info: #0369a1;
  --border-disabled: #57534e;
  --focus-brand: #7c3aed;
  --focus-danger: #b91c1c;
  --focus-neutral: #57534e;
  --focus-inverse: #475569;
}
[data-contrast="more"] [data-theme="ambient"] [data-stack="tooltip"] {
  --fg-brand: #5b21b6;
  --fg-brand-hover: #4c1d95;
  --fg-brand-active: #2e1065;
  --fg-brand-alt: #7c2d12;
  --fg-brand-alt-hover: #431407;
  --fg-brand-alt-active: #431407;
  --fg-danger: #991b1b;
  --fg-danger-hover: #7f1d1d;
  --fg-danger-active: #450a0a;
  --fg-success: #065f46;
  --fg-success-hover: #064e3b;
  --fg-success-active: #022c22;
  --fg-info: #1e40af;
  --fg-info-hover: #1e3a8a;
  --fg-info-active: #172554;
  --fg-info-alt: #134e4a;
  --fg-info-alt-hover: #042f2e;
  --fg-info-alt-active: #042f2e;
  --fg-warning: #78350f;
  --fg-warning-hover: #451a03;
  --fg-warning-active: #451a03;
  --fg-disabled: #44403c;
  --fg-decorative: #44403c;
  --fg-alt: #44403c;
  --fg-alt-hover: #292524;
  --fg-alt-active: #0c0a09;
  --fg-nav-accent: #5b21b6;
  --fg-nav-decorative: #44403c;
  --border-main: #57534e;
  --border-main-hover: #44403c;
  --border-main-active: #292524;
  --border-brand: #7c3aed;
  --border-brand-hover: #6d28d9;
  --border-brand-active: #5b21b6;
  --border-danger: #b91c1c;
  --border-success: #047857;
  --border-info: #0369a1;
  --border-disabled: #57534e;
  --focus-brand: #7c3aed;
  --focus-danger: #b91c1c;
  --focus-neutral: #57534e;
  --focus-inverse: #475569;
}
[data-contrast="more"] [data-theme="ambient"] [data-stack="overlay"] {
  --fg-brand: #5b21b6;
  --fg-brand-hover: #4c1d95;
  --fg-brand-active: #2e1065;
  --fg-brand-alt: #7c2d12;
  --fg-brand-alt-hover: #431407;
  --fg-danger: #7f1d1d;
  --fg-danger-hover: #450a0a;
  --fg-danger-active: #450a0a;
  --fg-success: #064e3b;
  --fg-success-hover: #022c22;
  --fg-info: #1e3a8a;
  --fg-info-hover: #172554;
  --fg-info-active: #172554;
  --fg-info-alt: #134e4a;
  --fg-info-alt-hover: #042f2e;
  --fg-warning: #78350f;
  --fg-warning-hover: #451a03;
  --fg-disabled: #44403c;
  --fg-decorative: #44403c;
  --fg-alt: #44403c;
  --fg-alt-hover: #292524;
  --fg-alt-active: #0c0a09;
  --fg-nav-accent: #5b21b6;
  --fg-nav-decorative: #44403c;
  --border-main: #57534e;
  --border-main-hover: #44403c;
  --border-main-active: #292524;
  --border-brand: #7c3aed;
  --border-brand-hover: #6d28d9;
  --border-brand-active: #5b21b6;
  --border-danger: #b91c1c;
  --border-success: #065f46;
  --border-warning: #92400e;
  --border-info: #0369a1;
  --border-disabled: #57534e;
  --focus-brand: #7c3aed;
  --focus-danger: #b91c1c;
  --focus-neutral: #57534e;
  --focus-inverse: #475569;
}
[data-contrast="more"] [data-theme="dark"] {
  --fg-brand: #c4b5fd;
  --fg-brand-hover: #ddd6fe;
  --fg-brand-active: #ede9fe;
  --fg-brand-alt: #fb923c;
  --fg-brand-alt-hover: #fdba74;
  --fg-brand-alt-active: #fed7aa;
  --fg-danger: #fca5a5;
  --fg-danger-hover: #fecaca;
  --fg-danger-active: #fee2e2;
  --fg-success: #34d399;
  --fg-success-hover: #6ee7b7;
  --fg-success-active: #a7f3d0;
  --fg-info: #93c5fd;
  --fg-info-hover: #bfdbfe;
  --fg-info-active: #dbeafe;
  --fg-info-alt: #2dd4bf;
  --fg-info-alt-hover: #5eead4;
  --fg-info-alt-active: #99f6e4;
  --fg-warning: #fbbf24;
  --fg-warning-hover: #fcd34d;
  --fg-warning-active: #fde68a;
  --fg-disabled: #d6d3d1;
  --fg-decorative: #d6d3d1;
  --fg-alt: #d6d3d1;
  --fg-alt-hover: #e7e5e4;
  --fg-alt-active: #fafaf9;
  --fg-nav-accent: #c4b5fd;
  --fg-nav-decorative: #d6d3d1;
  --border-main: #a8a29e;
  --border-main-hover: #d6d3d1;
  --border-main-active: #e7e5e4;
  --border-brand: #a78bfa;
  --border-brand-hover: #c4b5fd;
  --border-brand-active: #ddd6fe;
  --border-danger: #ef4444;
  --border-success: #059669;
  --border-warning: #d97706;
  --border-info: #0ea5e9;
  --border-disabled: #a8a29e;
  --focus-brand: #a78bfa;
  --focus-danger: #ef4444;
  --focus-neutral: #a8a29e;
  --focus-inverse: #94a3b8;
}
[data-contrast="more"] [data-theme="dark"] [data-stack="nav"] {
  --fg-brand: #c4b5fd;
  --fg-brand-hover: #ddd6fe;
  --fg-brand-active: #ede9fe;
  --fg-brand-alt: #fdba74;
  --fg-brand-alt-hover: #fed7aa;
  --fg-brand-alt-active: #ffedd5;
  --fg-danger: #fca5a5;
  --fg-danger-hover: #fecaca;
  --fg-danger-active: #fee2e2;
  --fg-info: #93c5fd;
  --fg-info-hover: #bfdbfe;
  --fg-info-active: #dbeafe;
  --fg-warning: #fbbf24;
  --fg-warning-hover: #fcd34d;
  --fg-warning-active: #fde68a;
  --fg-disabled: #d6d3d1;
  --fg-decorative: #d6d3d1;
  --fg-alt: #d6d3d1;
  --fg-alt-hover: #e7e5e4;
  --fg-alt-active: #fafaf9;
  --fg-nav-accent: #c4b5fd;
  --fg-nav-decorative: #d6d3d1;
  --border-main: #a8a29e;
  --border-main-hover: #d6d3d1;
  --border-main-active: #e7e5e4;
  --border-brand: #a78bfa;
  --border-brand-hover: #c4b5fd;
  --border-brand-active: #ddd6fe;
  --border-danger: #f87171;
  --border-success: #10b981;
  --border-warning: #d97706;
  --border-info: #0ea5e9;
  --border-disabled: #a8a29e;
  --focus-brand: #a78bfa;
  --focus-danger: #f87171;
  --focus-neutral: #a8a29e;
  --focus-inverse: #94a3b8;
}
[data-contrast="more"] [data-theme="dark"] [data-stack="modal"] {
  --fg-brand: #c4b5fd;
  --fg-brand-hover: #ddd6fe;
  --fg-brand-active: #ede9fe;
  --fg-brand-alt: #fdba74;
  --fg-brand-alt-hover: #fed7aa;
  --fg-brand-alt-active: #ffedd5;
  --fg-danger: #fca5a5;
  --fg-danger-hover: #fecaca;
  --fg-danger-active: #fee2e2;
  --fg-info: #93c5fd;
  --fg-info-hover: #bfdbfe;
  --fg-info-active: #dbeafe;
  --fg-warning: #fbbf24;
  --fg-warning-hover: #fcd34d;
  --fg-warning-active: #fde68a;
  --fg-disabled: #d6d3d1;
  --fg-decorative: #d6d3d1;
  --fg-alt: #d6d3d1;
  --fg-alt-hover: #e7e5e4;
  --fg-alt-active: #fafaf9;
  --fg-nav-accent: #c4b5fd;
  --fg-nav-decorative: #d6d3d1;
  --border-main: #a8a29e;
  --border-main-hover: #d6d3d1;
  --border-main-active: #e7e5e4;
  --border-brand: #a78bfa;
  --border-brand-hover: #c4b5fd;
  --border-brand-active: #ddd6fe;
  --border-danger: #f87171;
  --border-success: #10b981;
  --border-warning: #d97706;
  --border-info: #0ea5e9;
  --border-disabled: #a8a29e;
  --focus-brand: #a78bfa;
  --focus-danger: #f87171;
  --focus-neutral: #a8a29e;
  --focus-inverse: #94a3b8;
}
[data-contrast="more"] [data-theme="dark"] [data-stack="tooltip"] {
  --fg-brand: #c4b5fd;
  --fg-brand-hover: #ddd6fe;
  --fg-brand-active: #ede9fe;
  --fg-brand-alt: #fdba74;
  --fg-brand-alt-hover: #fed7aa;
  --fg-brand-alt-active: #ffedd5;
  --fg-danger: #fca5a5;
  --fg-danger-hover: #fecaca;
  --fg-danger-active: #fee2e2;
  --fg-info: #93c5fd;
  --fg-info-hover: #bfdbfe;
  --fg-info-active: #dbeafe;
  --fg-warning: #fbbf24;
  --fg-warning-hover: #fcd34d;
  --fg-warning-active: #fde68a;
  --fg-disabled: #d6d3d1;
  --fg-decorative: #d6d3d1;
  --fg-alt: #d6d3d1;
  --fg-alt-hover: #e7e5e4;
  --fg-alt-active: #fafaf9;
  --fg-nav-accent: #c4b5fd;
  --fg-nav-decorative: #d6d3d1;
  --border-main: #a8a29e;
  --border-main-hover: #d6d3d1;
  --border-main-active: #e7e5e4;
  --border-brand: #a78bfa;
  --border-brand-hover: #c4b5fd;
  --border-brand-active: #ddd6fe;
  --border-danger: #f87171;
  --border-success: #10b981;
  --border-warning: #d97706;
  --border-info: #0ea5e9;
  --border-disabled: #a8a29e;
  --focus-brand: #a78bfa;
  --focus-danger: #f87171;
  --focus-neutral: #a8a29e;
  --focus-inverse: #94a3b8;
}
[data-contrast="more"] [data-theme="dark"] [data-stack="overlay"] {
  --fg-brand: #ddd6fe;
  --fg-brand-hover: #ede9fe;
  --fg-brand-active: #f5f3ff;
  --fg-brand-alt: #fed7aa;
  --fg-brand-alt-hover: #ffedd5;
  --fg-brand-alt-active: #fff7ed;
  --fg-danger: #fecaca;
  --fg-danger-hover: #fee2e2;
  --fg-danger-active: #fef2f2;
  --fg-success: #a7f3d0;
  --fg-success-hover: #d1fae5;
  --fg-success-active: #ecfdf5;
  --fg-info: #bfdbfe;
  --fg-info-hover: #dbeafe;
  --fg-info-active: #eff6ff;
  --fg-info-alt: #99f6e4;
  --fg-info-alt-hover: #ccfbf1;
  --fg-info-alt-active: #f0fdfa;
  --fg-warning: #fcd34d;
  --fg-warning-hover: #fde68a;
  --fg-warning-active: #fef3c7;
  --fg-disabled: #e7e5e4;
  --fg-decorative: #e7e5e4;
  --fg-alt: #e7e5e4;
  --fg-alt-hover: #f5f5f4;
  --fg-nav-accent: #ddd6fe;
  --fg-nav-main: #e7e5e4;
  --fg-nav-main-hover: #fafaf9;
  --fg-nav-main-active: #fafaf9;
  --fg-nav-decorative: #e7e5e4;
  --border-main: #d6d3d1;
  --border-main-hover: #e7e5e4;
  --border-main-active: #f5f5f4;
  --border-brand: #c4b5fd;
  --border-brand-hover: #ddd6fe;
  --border-brand-active: #ede9fe;
  --border-danger: #fca5a5;
  --border-success: #34d399;
  --border-warning: #f59e0b;
  --border-info: #38bdf8;
  --border-disabled: #d6d3d1;
  --focus-brand: #c4b5fd;
  --focus-danger: #fca5a5;
  --focus-neutral: #d6d3d1;
  --focus-inverse: #cbd5e1;
}